.Card {
    border: 2px solid rgb(0, 228, 19);
    box-shadow: 0 3px 5px rgba(0, 209, 18, 0.521);
    text-align: left;
}
.bold {
    font-weight: bold;
}
.textMarg {
    margin: 10px 45px 10px 10px;
}
.topRight {
    position: absolute;
    right: 7px;
    top: 7px;
}
.green {
    color: green;
}
.blue {
    color: blue!important;
    cursor: pointer;
}
.red {
    color: red;
    cursor: pointer;
}
.block {
    position: relative;
    word-break: break-all;
}
.solidBorder {
    display: flexbox;
    word-break: break-all;
}
p {
    margin: 0;
}
input {
    cursor: pointer;
    max-width: 95%;
}